:root {
  --light-pink: #f9d9cc;
  --blue: #364bd6;
  --yellow: #fdf84a;
  --pink: #ed7597;
  --transparent: transparent;
}

.Navbar {
  background-color: var(--transparent);
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: light;
  font-family: helvetica, sans-serif;
}

.nav-logo {
  justify-self: start;
  cursor: pointer;
  width: 100%;
  font-family: helvetica, sans-serif;
  text-decoration: none;
  /*margin-left: 20px;*/
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 30px;
  list-style: none;
  text-align: center;
  width: 100vw;
  justify-content: end;
  /*margin-right: 2rem;*/
}

.nav-links a{
  font-family: helvetica, sans-serif;
  color: black;
  text-decoration: none;
}

/*.nav-links:hover {
  border-bottom: 0.5px solid black;
  transition: all 2s ease-out;
}
*/

/* NAVBAR MOBILE*/
.nav-menu-mobile {
  display: none;
}

@media screen and (max-width: 960px) {
  .Navbar {
    height: 100px;
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 100px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease-out;
  }

  .nav-menu.active {
    background-color: white;
    left: 0;
    opacity: 1;
    z-index: 1;
    transition: all 0.5s ease-out;
  }

  .nav-links {
    text-align: left;
    padding-bottom: 30px;
    padding-top: 30px;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    /*color: blue;*/
    /*background-color: purple;*/
    border-radius: 0;
  }

  .nav-menu-mobile {
    display: block;
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*transform: translate(-100%, 60%);*/
    /*font-size: 1.8rem;*/
    cursor: pointer;
  }
}
