.Banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  margin-top: 60px;
}

.banner-title {
  text-transform: uppercase;
  padding-bottom: 30px;
  font-family: helvetica, sans-serif;
  letter-spacing: 2px;
  font-weight: 700;
}

.banner-description {
  text-transform: uppercase;
  margin-bottom: 30px;
  line-height: 24px;
  color: black;
  letter-spacing: 2px;
}

@media screen and (max-width: 960px) {
  .Banner {
  }
}
