:root {
  --light-pink: #f9d9cc;
  --blue: #364bd6;
  --yellow: #fdf84a;
  --pink: #ed7597;
  --white: white;
}

.btn {
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

/*BUTTON STYLE*/
.btn--primary {
  border-bottom-color: black;
  border-bottom: 1px solid;
}

.btn--primary:hover {
  transition: color .2s ease;
  transition: 250ms;
  border-bottom-color: transparent;
}

.btn--plain {
  border-bottom-color: transparent;
}

/*BUTTON SIZE*/
/*.btn--large {
}

.btn--medium {
  font-size: 18px;
}*/

