.ProjectDetail {
  margin-bottom: 60px;
}

.project-detail-title {
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 24px;
  padding-bottom: 0;
}

.project-detail-description-wrapper a {
  text-decoration: none;
}

.project-detail-link {
  display: flex;
}

.project-detail-or {
  padding-left: 12px;
  font-size: 20px;
  font-weight: lighter;
}

.project-detail-link-two {
  padding-left: 12px;
}

@media screen and (max-width: 960px) {
  .ProjectDetail {
  }
}
